*.swp
.RData
.Rhistory
Data/GTEx.v8.p2/GTEx_Analysis_2017-06-05_v8_RNASeQCv1.1.9_gene_reads.gct.gz
Data/Homo_sapiens.GRCh38.88.collapsed.from.gencode.v26.gtf
RData/v8.p2.dds.RData
RData/v8.p2.mat.cnt.RData
.DS_Store
